.Weather{
    border: 1px solid #dadde1;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(135, 135, 135);
    padding: 16px;
    margin-top: 30px;
    border-radius: 4px;
}

.Weather ::placeholder{
    color: rgb(135, 135, 135);
    font-size: 18px;
}

.Weather h1{
    font-size: 28px;
    font-weight: 100;
    line-height: 33px;
    margin-top: 20px;
}

.Weather ul{
    padding: 0;
}

.Weather li{
    font-size: 20px;
    font-weight: 100;
    line-height: 23px;
    list-style: none;
}


.Weather .temperature {
color: rgb(33, 33, 33);
font-size: 64px;
line-height: 64px;
margin-left: 5px;
font-weight: 400;
margin-left: 10px;
}

.Weather .unit {
color: rgb(33, 33, 33);
font-size: 16px;
font-weight: 400;
position: relative;
margin-left: 5px;
line-height: 1;
top: -34px;
}
